[submodule "slides/themes/reveal-hugo"]
	path = slides/themes/reveal-hugo
	url = git@github.com:dzello/reveal-hugo.git
[submodule "demos/polyglot/polyglot-jpg-pdf"]
	path = demos/polyglot/polyglot-jpg-pdf
	url = https://github.com/misc0110/polyglot-jpg-pdf
